@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Doodle;
  src: url(fonts/RubikDoodleShadow-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Petit;
  src: url(fonts/Petit-Cochon.ttf);
}
